root = true

[*]

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Change these settings to your own preference
indent_style = space
indent_size = 4

[*.{java}]
# note: does not have full editor support
max_line_length = 80

[*.{xml,json}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
